@charset "UTF-8";
/* breakpoints */
/* colors */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

a {
  text-decoration: none; }

/* colors */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 50px;
  color: #4D4848;
  margin: 24px 0; }
  @media (max-width: 50em) {
    h1 {
      font-size: 40px; } }

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 38px;
  color: #4D4848;
  margin: 16px 0; }
  @media (max-width: 37.5em) {
    h2 {
      font-size: 30px; } }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #4D4848;
  margin: 8px 0; }
  @media (max-width: 37.5em) {
    h3 {
      font-size: 24px; } }

h4, p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #4D4848;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    h4, p {
      font-size: 18px; } }

/* colors */
button {
  padding: .75em;
  margin: .25em 0;
  border: 1px solid;
  cursor: pointer; }
  button a {
    text-decoration: none; }
  button:focus {
    border: 1px solid #FFF5A5; }
  button:active {
    background-color: #FF6464; }
  button:visited {
    background-color: #FF6464;
    color: #364F6B; }
    button:visited a {
      color: #364F6B; }
  button:hover {
    background-color: #FFF5A5; }
    button:hover a, button:hover span {
      color: #364F6B; }

.btn-primary-dark {
  border-color: #364F6B;
  background-color: #364F6B;
  color: #FFF5A5; }
  .btn-primary-dark a {
    color: #FFF5A5; }

.btn-primary-opacity {
  border-color: #364F6B;
  background-color: transparent;
  color: #364F6B; }
  .btn-primary-opacity a {
    color: #364F6B; }

/* colors */
/* breakpoints */
.section__nav {
  background-color: lightgray;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: black;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.navbar__logo {
  position: fixed;
  left: 64px;
  top: 64px;
  z-index: 9999;
  cursor: pointer; }
  @media (max-width: 50em) {
    .navbar__logo {
      left: 32px;
      top: 32px; } }
  @media (max-width: 37.5em) {
    .navbar__logo {
      left: 24px;
      top: 24px; } }
  .navbar__logo a {
    display: flex; }
    .navbar__logo a h2 {
      font-size: 24px;
      margin: 0; }
    .navbar__logo a .light {
      font-weight: 500; }
.navbar__checkbox {
  display: none; }
.navbar__button {
  background-color: transparent;
  height: 64px;
  width: 64px;
  position: fixed;
  top: 64px;
  right: 48px;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 50em) {
    .navbar__button {
      top: 32px;
      right: 32px; } }
  @media (max-width: 37.5em) {
    .navbar__button {
      top: 24px;
      right: 24px; } }
.navbar__background {
  height: 64px;
  width: 64px;
  position: fixed;
  top: 96px;
  right: 96px;
  background-image: transparent;
  background-position: 0 0;
  z-index: 1000;
  transition: width 0.6s cubic-bezier(0.86, 0, 0.07, 1), height 0.6s cubic-bezier(0.86, 0, 0.07, 1), background-position 1s ease-in; }
  @media (max-width: 37.5em) {
    .navbar__background {
      right: 8px; } }
.navbar__nav {
  z-index: -2;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  display: none;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.navbar__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }
.navbar__item {
  margin: 1rem; }
.navbar__link:link, .navbar__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .4s; }
  .navbar__link:link span, .navbar__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
.navbar__link:hover, .navbar__link:active {
  background-position: 100%;
  color: #364F6B;
  transform: translateX(1rem); }
.navbar__checkbox:checked ~ .navbar__background {
  width: calc(100% - 196px);
  height: calc(100% - 196px);
  background-image: linear-gradient(90deg, #FF6464, #FFAA64, #FF6464, #FFAA64);
  background-size: 300% 100%;
  background-position: 100% 0;
  transform-origin: bottom left; }
  @media (max-width: 37.5em) {
    .navbar__checkbox:checked ~ .navbar__background {
      width: calc(100% - 16px);
      height: calc(100% - 16px); } }
.navbar__checkbox:checked ~ .navbar__nav {
  opacity: 1;
  width: 100%;
  display: inline; }
.navbar__icon {
  position: relative;
  margin-top: 0px; }
  .navbar__icon, .navbar__icon::before, .navbar__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #4D4848;
    display: inline-block; }
  .navbar__icon::before, .navbar__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navbar__icon::before {
    top: -.8rem; }
  .navbar__icon::after {
    top: .8rem; }
.navbar__button:hover .navbar__icon::before {
  top: -1rem; }
.navbar__button:hover .navbar__icon::after {
  top: 1rem; }
.navbar__checkbox:checked + .navbar__button .navbar__icon {
  background-color: transparent; }
.navbar__checkbox:checked + .navbar__button .navbar__icon::before {
  top: 0;
  transform: rotate(135deg); }
.navbar__checkbox:checked + .navbar__button .navbar__icon::after {
  top: 0;
  transform: rotate(-135deg); }

/* colors */
/* colors */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 50px;
  color: #4D4848;
  margin: 24px 0; }
  @media (max-width: 50em) {
    h1 {
      font-size: 40px; } }

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 38px;
  color: #4D4848;
  margin: 16px 0; }
  @media (max-width: 37.5em) {
    h2 {
      font-size: 30px; } }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #4D4848;
  margin: 8px 0; }
  @media (max-width: 37.5em) {
    h3 {
      font-size: 24px; } }

h4, p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #4D4848;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    h4, p {
      font-size: 18px; } }

fieldset {
  width: 100%;
  margin: 16px 0; }

label {
  color: #364F6B;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px; }

input, textarea {
  width: 100%;
  border: 1px solid #707070;
  padding: .75em;
  box-shadow: 0 4px 12px rgba(109, 109, 109, 0.3); }

/* colors */
.section__portfolio {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  background-image: url(../../img/abstracts/confetti.svg);
  background-repeat: repeat; }

.gallery {
  width: 1036px;
  margin: 96px 0;
  padding: 5px;
  background: transparent;
  box-sizing: border-box; }

.gallery > div {
  position: relative;
  float: left;
  padding: 4px; }

.gallery > div > img {
  display: block;
  width: 248px;
  transition: .1s transform;
  transform: translateZ(0);
  /* hack */ }

.gallery > div:hover {
  z-index: 1; }

.gallery > div:hover > img {
  transform: scale(2.2, 2.2);
  transition: .3s transform; }

.bg:before, .bg:after {
  display: table;
  content: "";
  line-height: 0; }

.bg:after {
  clear: both; }

/* colors */
/* breakpoints */
/* colors */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 50px;
  color: #4D4848;
  margin: 24px 0; }
  @media (max-width: 50em) {
    h1 {
      font-size: 40px; } }

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 38px;
  color: #4D4848;
  margin: 16px 0; }
  @media (max-width: 37.5em) {
    h2 {
      font-size: 30px; } }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #4D4848;
  margin: 8px 0; }
  @media (max-width: 37.5em) {
    h3 {
      font-size: 24px; } }

h4, p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #4D4848;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    h4, p {
      font-size: 18px; } }

* {
  scroll-behavior: smooth; }

.entries {
  position: relative; }
  .entries .section__entry {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF5A5;
    background-image: url(../img/abstracts/confetti.svg);
    width: 100%;
    background-repeat: no-repeat;
    padding: 64px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover; }
    @media (max-width: 50em) {
      .entries .section__entry {
        flex-wrap: wrap;
        padding: 24px; } }
    .entries .section__entry__welcome-img {
      flex: 1;
      align-self: center;
      align-items: center;
      align-content: center;
      position: relative;
      width: 100%; }
      .entries .section__entry__welcome-img .img-welcome {
        background-color: transparent;
        background-image: url(../img/abstracts/welcome.svg);
        background-size: 480px 400px;
        width: 480px;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
        animation: entry .8s ease-in-out forwards;
        opacity: 0;
        max-width: 100%;
        /*position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);*/ }
        @media (max-width: 50em) {
          .entries .section__entry__welcome-img .img-welcome {
            background-size: 100% 100%;
            width: 300px;
            max-height: 300px;
            margin-top: 24px; } }
    .entries .section__entry__welcome-text {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      z-index: 4; }
  .entries .section__break {
    width: 100%;
    position: relative; }
    .entries .section__break__image-1 {
      width: 100%;
      height: 24vh;
      background-image: url(../img/abstracts/wave.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: inherit;
      position: absolute;
      bottom: 0; }
      @media (max-width: 37.5em) {
        .entries .section__break__image-1 {
          height: 32vh; } }

.about-me {
  height: 140vh;
  position: relative;
  background-image: url(../img/abstracts/portfolio-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .about-me .section__break {
    width: 100%; }
    @media (max-width: 37.5em) {
      .about-me .section__break {
        width: auto; } }
    .about-me .section__break__image-2 {
      width: 100%;
      height: 34vh;
      background-image: url(../img/abstracts/wave-2.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0; }
      @media (max-width: 37.5em) {
        .about-me .section__break__image-2 {
          height: 20vh; } }
  .about-me__text {
    max-width: 1080px;
    margin: 136px 320px 0; }
    @media (max-width: 50em) {
      .about-me__text {
        width: 100%;
        padding: 32px 24px; } }
    .about-me__text .buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      margin: 24px 0; }
      .about-me__text .buttons__socialmedias {
        display: flex;
        justify-content: center; }
        .about-me__text .buttons__socialmedias img {
          width: auto;
          height: 32px;
          padding-right: 8px; }

.about-techinfo {
  height: 140vh;
  position: relative;
  background-image: url(../img/abstracts/portfolio-img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1; }
  .about-techinfo__text {
    max-width: 1080px;
    margin: 0 320px 56px; }
    @media (max-width: 50em) {
      .about-techinfo__text {
        width: 100%;
        padding: 24px;
        margin: 8px; } }
  .about-techinfo::after {
    display: block;
    content: '';
    width: 100%;
    height: 46vh;
    background-color: transparent;
    background-image: url(../img/abstracts/wave-3-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    z-index: 2; }
    @media (max-width: 37.5em) {
      .about-techinfo::after {
        height: 13vh; } }

.portfolios_break {
  position: relative; }
  .portfolios_break::before {
    display: block;
    content: '';
    width: 100%;
    height: 46vh;
    background-color: transparent;
    background-image: url(../img/abstracts/wave-3-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 2; }
    @media (max-width: 37.5em) {
      .portfolios_break::before {
        height: 16vh; } }
  .portfolios_break::after {
    display: block;
    content: '';
    width: 100%;
    height: 216px;
    background-image: url(../img/abstracts/break-images-portfolio.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
    position: absolute;
    top: -32px; }
    @media (max-width: 50em) {
      .portfolios_break::after {
        height: 136px; } }

.portfolios_gallery {
  margin: 400px auto;
  margin-bottom: 0;
  position: relative;
  text-align: center; }
  @media (max-width: 37.5em) {
    .portfolios_gallery {
      margin: 160px 0 0; } }
  .portfolios_gallery .grid-container {
    max-width: 1080px;
    margin: 96px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    grid-gap: 48px; }
    .portfolios_gallery .grid-container .images {
      position: relative; }
      .portfolios_gallery .grid-container .images__title {
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        z-index: 3;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s;
        background: linear-gradient(transparent 50%, #FF6464);
        color: white;
        padding: 0 32px 32px 32px;
        /* position the text in tÔÇÖ middle*/
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: left; }
        .portfolios_gallery .grid-container .images__title:hover {
          opacity: 1; }
      .portfolios_gallery .grid-container .images__image {
        line-height: 0;
        overflow: hidden; }
        .portfolios_gallery .grid-container .images__image img {
          filter: blur(1px);
          transition: filter 0.3s ease-in;
          transform: scale(1.1); }
      .portfolios_gallery .grid-container .images:hover {
        opacity: 1; }
  .portfolios_gallery::after {
    display: block;
    content: '';
    background-image: url(../img/abstracts/wave-4.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px; }

.contact__form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative; }
  .contact__form::before {
    display: block;
    content: '';
    width: 100%;
    height: 46vh;
    background-color: transparent;
    background-image: url(../img/abstracts/wave-5.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 2; }
  .contact__form .form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 200px auto;
    padding: 48px 0; }
    @media (max-width: 37.5em) {
      .contact__form .form {
        padding: 32px; } }
    .contact__form .form p {
      font-weight: 600; }
    .contact__form .form .buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      margin: 24px 0;
      width: 100%; }
      .contact__form .form .buttons__socialmedias {
        display: flex;
        justify-content: center; }
        .contact__form .form .buttons__socialmedias img {
          width: auto;
          height: 32px;
          padding-right: 8px; }

@keyframes entry {
  0% {
    opacity: 0;
    transform: scale(0.4); }
  100% {
    opacity: 1;
    transform: scale(1); } }

/*# sourceMappingURL=main.css.map */
