@import 'Base/typography.scss',
'Base/colors.scss',
'Base/modal.scss';
@import 'abstracts/mixins.scss';
@import 'layout/navbar.scss',
'layout/sections.scss',
'layout/footer.scss';
@import 'Components/button.scss';

$border: 1;

* {
    @include transition(all 2s ease);
}

body {
    background: $background;
    overflow: hidden;
    margin: 0;
    font-family: $font;
    color: $blue;
}

.main {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .content {
        scroll-snap-align: start;
        padding: 16px;

        &.example {
            @include breakpoint(mobile) {
                scroll-snap-align: none;
                position: relative;
            }
        }

        .border-box {
            width: 100%;
            height: 95vh;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-self: center;
            align-content: center;
            align-items: center;
            box-shadow: 3px 3px 12px #42424280;
            -webkit-box-shadow: 3px 3px 12px #42424280;
            /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow: 3px 3px 12px #42424280;/* Firefox 3.5 - 3.6 */
            position: relative;

            &.mobile-none {
                @include breakpoint(mobile) {
                    height: auto;
                }
            }
        }


        .gradient {
            background: linear-gradient($pink, $purple, $blue);
        }

        .gradient-rotate {
            background: linear-gradient($blue, $purple, $pink);
        }

        .white {
            background: $white;
        }

        .border-box::after {
            content: "";
            width: calc(100% - 24px);
            height: calc(100% - 24px);
            background: $background;
            display: flex;
            justify-content: center;
            align-self: center;
            box-shadow: inset 3px 3px 12px #4242424f;
            -webkit-box-shadow: inset 3px 3px 12px #42424280;
            /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow: inset 3px 3px 12px #42424280;
            
        }

        .border-box-section {
            position: absolute;
            width: calc(100% - 24px);
            height: calc(100% - 24px);

            .squares {
                display: flex;
                flex-basis: 1;
                flex-grow: 1;
                justify-content: center;
                align-self: flex-end;
                margin-right: 28%;
                border-radius: 12px;

                @include breakpoint(tablet) {}

                @include breakpoint(mobile) {
                    align-items: flex-end;
                    margin: 16px;

                }

                .square {
                    width: 196px;
                    height: 196px;
                    box-shadow: 3px 3px 12px #42424280;
                    border: 4px solid $blue;
                    border-radius: 12px;
                    transform: rotate(-45deg);
                    transform-origin: top left;

                    @include breakpoint(tablet) {
                        width: 120px;
                        height: 120px;
                    }

                    @include breakpoint(mobile) {
                        width: 96px;
                        height: 96px;
                    }
                }

                .purple {
                    border: 4px solid $purple;
                    width: 96px;
                    height: 96px;
                    transform: rotate(60deg);
                    transform-origin: top right;
                    margin-bottom: 104px;

                    @include breakpoint(tablet) {
                        width: 56px;
                        height: 56px;
                    }

                    @include breakpoint(mobile) {
                        width: 40px;
                        height: 40px;
                    }
                }

                .pink {
                    border: 4px solid $pink;
                    width: 80px;
                    height: 80px;
                    transform: rotate(-20deg);
                    transform-origin: top right;

                    @include breakpoint(tablet) {
                        width: 40px;
                        height: 40px;
                    }

                    @include breakpoint(mobile) {
                        width: 32px;
                        height: 32px;
                    }
                }

                .square::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    box-shadow: inset 3px 3px 12px #4242424f;
                    -webkit-box-shadow: inset  3px 3px 12px #42424280;
                    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                    -moz-box-shadow: inset 3px 3px 12px #42424280;/* Firefox 3.5 - 3.6 */
                }
            }

            .rotate {
                transform: scaleX(-1);
                margin: 0;

                @include breakpoint(mobile) {
                    position: absolute;
                }

            }

        }
    }
}