@import '../abstracts/variables.scss';

button {
    padding: .75em;
    margin: .25em 0;
    border: 1px solid;
    cursor: pointer;

    a {
        text-decoration: none;
    }

    &:focus {
        border: 1px solid $primar-color-yellow;
    }

    &:active {
        background-color: $darkorange ;
    }
    &:visited {
        background-color: $darkorange;
        color:$secondary-color-gray ;
        a {
            color:$secondary-color-gray ;}
    }
    &:hover {
        background-color: $primar-color-yellow ;
        a, span{
        color:$secondary-color-gray ;}
    }

}

.btn-primary-dark {
    border-color: $secondary-color-gray;
    background-color: $secondary-color-gray;
    color: $primar-color-yellow;

    a {
        color: $primar-color-yellow;
    }
}

.btn-primary-opacity {
    border-color: $secondary-color-gray;
    background-color: transparent;
    color: $secondary-color-gray;

    a {
        color: $secondary-color-gray;
    }
}