@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap');
@import '../abstracts/variables.scss';

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

$light: 400;
$medium: 500;
$semibold: 600;
$bold: 800;


h1 {
    font-family: $playfair;
    font-weight: $medium;
    font-size: 50px;
    color: $black;
    margin: 24px 0;
    @include breakpoint(tablet) {
        font-size: 40px;
    }

}

h2 {
    font-family: $playfair;
    font-weight: $bold;
    font-size: 38px;
    color: $black;
    margin: 16px 0;
    @include breakpoint(mobile) {
        font-size: 30px;
    }
}

h3 {
    font-family: $roboto;
    font-weight: $semibold;
    font-size: 30px;
    color: $black;
    margin: 8px 0;
    @include breakpoint(mobile) {
        font-size: 24px;
    }

}

h4  {
    font-family: $roboto;
    font-weight: $medium;
    font-size: 18px;
    color: $black;
    line-height: 1.5;
    @include breakpoint(mobile) {
        font-size: 18px;
    }
}

p {
    font-family: $roboto;
    font-weight: $light;
    font-size: 18px;
    color: $black;
    line-height: 1.5;
    @include breakpoint(mobile) {
        font-size: 18px;
    }
}