@charset "UTF-8";
/* colors */
/* breakpoints */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap");
/* colors */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 50px;
  color: #4D4848;
  margin: 24px 0; }
  @media (max-width: 50em) {
    h1 {
      font-size: 40px; } }

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 38px;
  color: #4D4848;
  margin: 16px 0; }
  @media (max-width: 37.5em) {
    h2 {
      font-size: 30px; } }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #4D4848;
  margin: 8px 0; }
  @media (max-width: 37.5em) {
    h3 {
      font-size: 24px; } }

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #4D4848;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    h4 {
      font-size: 18px; } }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #4D4848;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    p {
      font-size: 18px; } }

* {
  scroll-behavior: smooth;
  scroll-padding-top: 64px; }

.entries {
  position: relative; }
  .entries .section__entry {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF5A5;
    background-image: url(../img/abstracts/confetti.svg);
    width: 100%;
    background-repeat: no-repeat;
    padding: 64px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover; }
    @media (max-width: 50em) {
      .entries .section__entry {
        flex-wrap: wrap;
        padding: 24px; } }
    .entries .section__entry__welcome-img {
      flex: 1;
      align-self: center;
      align-items: center;
      align-content: center;
      position: relative;
      width: 100%; }
      .entries .section__entry__welcome-img .img-welcome {
        background-color: transparent;
        background-image: url(../img/abstracts/welcome.svg);
        background-size: 480px 400px;
        width: 480px;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
        animation: entry .8s ease-in-out forwards;
        opacity: 0;
        max-width: 100%;
        /*position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);*/ }
        @media (max-width: 50em) {
          .entries .section__entry__welcome-img .img-welcome {
            background-size: 100% 100%;
            width: 300px;
            max-height: 300px;
            margin-top: 24px; } }
    .entries .section__entry__welcome-text {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      z-index: 4; }
  .entries .section__break {
    width: 100%;
    position: relative; }
    .entries .section__break__image-1 {
      width: 100%;
      height: 24vh;
      background-image: url(../img/abstracts/wave.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: inherit;
      position: absolute;
      bottom: 0; }
      @media (max-width: 37.5em) {
        .entries .section__break__image-1 {
          height: 32vh; } }

.about-me {
  height: 140vh;
  position: relative;
  background-image: url(../img/abstracts/portfolio-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .about-me .section__break {
    width: 100%; }
    @media (max-width: 37.5em) {
      .about-me .section__break {
        width: auto; } }
    .about-me .section__break__image-2 {
      width: 100%;
      height: 34vh;
      background-image: url(../img/abstracts/wave-2.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0; }
      @media (max-width: 37.5em) {
        .about-me .section__break__image-2 {
          height: 20vh; } }
  .about-me__text {
    max-width: 1080px;
    margin: 136px 320px 0; }
    @media (max-width: 50em) {
      .about-me__text {
        width: 100%;
        padding: 32px 24px; } }
    .about-me__text .buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      margin: 24px 0; }
      .about-me__text .buttons__socialmedias {
        display: flex;
        justify-content: center; }
        .about-me__text .buttons__socialmedias img {
          width: auto;
          height: 32px;
          padding-right: 8px; }

.about-techinfo {
  height: 140vh;
  position: relative;
  background-image: url(../img/abstracts/portfolio-img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1; }
  .about-techinfo__text {
    max-width: 1080px;
    margin: 0 320px 56px; }
    @media (max-width: 50em) {
      .about-techinfo__text {
        width: 100%;
        padding: 24px;
        margin: 8px; } }
  .about-techinfo::after {
    display: block;
    content: '';
    width: 100%;
    height: 46vh;
    background-color: transparent;
    background-image: url(../img/abstracts/wave-3-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    z-index: 2; }
    @media (max-width: 37.5em) {
      .about-techinfo::after {
        height: 13vh; } }

.portfolios_break {
  position: relative; }
  .portfolios_break::before {
    display: block;
    content: '';
    width: 100%;
    height: 30vh;
    background-color: #FFF5A5;
    background-image: url(../img/abstracts/wave-3-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 2; }
    @media (max-width: 37.5em) {
      .portfolios_break::before {
        height: 16vh; } }
  .portfolios_break::after {
    display: block;
    content: '';
    width: 100%;
    height: 116px;
    background-color: transparent;
    background-image: url(../img/abstracts/break-images-portfolio.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
    position: absolute;
    top: -32px; }
    @media (max-width: 50em) {
      .portfolios_break::after {
        height: 136px; } }

.portfolios_gallery {
  margin: 194px auto;
  padding-top: 48px;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  background-color: #FFF5A5;
  color: #4D4848; }
  @media (max-width: 37.5em) {
    .portfolios_gallery {
      margin: 80px 0 0; } }
  .portfolios_gallery .galleries {
    margin: 64px 64px 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    grid-gap: 64px;
    list-style: none; }
    @media (max-width: 37.5em) {
      .portfolios_gallery .galleries {
        grid-template-columns: repeat(auto-fit, minmax(196px, 1fr)); } }
    .portfolios_gallery .galleries h4 {
      font-size: 16px; }
    .portfolios_gallery .galleries p {
      font-size: 14px; }
    .portfolios_gallery .galleries .wrap {
      background-image: linear-gradient(45deg, transparent 0%, transparent 50%, white 50%);
      background-size: 0%;
      transition: all 2s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px; }
      .portfolios_gallery .galleries .wrap:hover {
        background-image: linear-gradient(90deg, transparent 20%, transparent 40%, #FF6464 20%, #FFAA64);
        background-size: 700% 100%;
        background-position: 100% 0; }
    .portfolios_gallery .galleries__card {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      display: flex;
      flex-wrap: revert;
      flex-direction: row;
      justify-content: center;
      background-color: white;
      padding: 16px;
      border-radius: 12px;
      box-shadow: 6px 6px 10px 1px rgba(54, 79, 107, 0.2); }
      @media (max-width: 37.5em) {
        .portfolios_gallery .galleries__card {
          flex-wrap: wrap; } }
      .portfolios_gallery .galleries__card__imagepart {
        clip-path: circle(40% at center); }
        .portfolios_gallery .galleries__card__imagepart img {
          max-width: 112px;
          object-fit: scale-down;
          height: auto; }
      .portfolios_gallery .galleries__card__descpart {
        padding: 8px; }
  .portfolios_gallery .grid-container {
    max-width: 1080px;
    margin: 96px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    grid-gap: 48px; }
    .portfolios_gallery .grid-container .images {
      position: relative; }
      .portfolios_gallery .grid-container .images__title {
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        z-index: 3;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: .8;
        transition: opacity .5s;
        background: linear-gradient(transparent 50%, #FF6464);
        color: white;
        padding: 0 32px 32px 32px;
        /* position the text in tÔÇÖ middle*/
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: left; }
        .portfolios_gallery .grid-container .images__title:hover {
          opacity: 1; }
      .portfolios_gallery .grid-container .images__image {
        line-height: 0;
        overflow: hidden; }
        .portfolios_gallery .grid-container .images__image img {
          filter: blur(1px);
          transition: filter 0.3s ease-in;
          transform: scale(1.1); }
      .portfolios_gallery .grid-container .images:hover {
        opacity: 1; }
  .portfolios_gallery::after {
    display: block;
    content: '';
    background-image: url(../img/abstracts/wave-4.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px; }

.contact__form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative; }
  .contact__form::before {
    display: block;
    content: '';
    width: 100%;
    height: 46vh;
    background-color: transparent;
    background-image: url(../img/abstracts/wave-5.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 2; }
  .contact__form .form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 200px 16px 0;
    padding: 48px 0; }
    @media (max-width: 37.5em) {
      .contact__form .form {
        padding: 32px; } }
    .contact__form .form p {
      font-weight: 600; }
    .contact__form .form .buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      margin: 24px 0;
      width: 100%; }
      .contact__form .form .buttons__socialmedias {
        display: flex;
        justify-content: center; }
        .contact__form .form .buttons__socialmedias img {
          width: auto;
          height: 32px;
          padding-right: 8px; }

footer {
  width: 100%;
  text-align: center;
  padding: 24px 0; }

@keyframes entry {
  0% {
    opacity: 0;
    transform: scale(0.4); }
  100% {
    opacity: 1;
    transform: scale(1); } }

/*# sourceMappingURL=home.css.map */
